<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="build/styles.css">
    <meta name="viewport" content="initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Webpack project</title>
</head>

<body ng-app="app">

    <md-menu-bar>
        <md-menu>
            <button ng-click="$mdOpenMenu()">
                Login
            </button>
            <% if (userJSON) { %>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="md-primary" ng-href="/auth/logout" target="_blank">Sign out</md-button>
                    </md-menu-item>
                </md-menu-content>
            <% } else { %>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="md-primary" ng-href="/auth/google" target="_blank">Sign in with your Google Account</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary" ng-href="/auth/google" target="_blank">Sign in with your Google Account</md-button>
                    </md-menu-item>
                </md-menu-content>
            <% } %>
        </md-menu>
    </md-menu-bar>


    <% if (userJSON) { %>
        <a href="/auth/logout">Sign out</a>
        <div>
            <h3>You are authenticated as:</h3>
            <img src="<%= userJSON.image %>"><br>
            <%= userJSON.displayName %><br>
            <%= userJSON.email %>
        </div>
    <% } else { %>
        <h3>You are NOT authenticated.</h3>
        <a href="/auth/google">Sign in with your Google Account</a>
    <% } %>



    <a ui-sref="home">home</a>
    <a ui-sref="home2">home2</a>
    <div ui-view="main"></div>

    <script type="text/javascript">window.user = <%- userStr || 'null' %>;</script>
    <script src="./build/bundle.js"></script>
</body>

</html>