<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="build/styles.css">
    <meta name="viewport" content="initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Quizmaster 6</title>
</head>

<body ng-app="app">
    <% if (userStr) { %>
        <a ui-sref="home">home</a>
        <a href="/auth/logout">Sign out</a>
        <div>
            <h3>You are authenticated as:</h3>
            <img src="<%= userJSON.image %>"><br>
            <%= userJSON.displayName %><br>
            <%= userJSON.email %>
        </div>
    <% } else { %>
        <a ui-sref="home">home</a>
        <a href="/auth/google">Sign in with your Google Account</a>
        <h3>You are NOT authenticated.</h3>
    <% } %>

    <div ui-view="main"></div>

    <script>window.user = <%- userStr || 'null' %>;</script>
    <script src="./build/bundle.js"></script>
</body>

</html>