<quiz-login user="user"></quiz-login>
<quiz-menu user="user"></quiz-menu>


<div layout="row">
    <md-card ng-repeat="quiz in quizzes">
        <img ng-src="{{quiz.creator.image}}" class="md-card-image" alt="{{ quiz.creator.displayName }}">
        <md-card-content>
            <md-subheader>{{ quiz.instructions }}</md-subheader>
            <h4 class="md-headline">{{ quiz.stem }}</h4>
            <p ng-repeat="truthy in quiz.truthies">{{ truthy }}</p>
            <p ng-repeat="falsy in quiz.falsies">{{ falsy }}</p>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-footer layout="row" layout-align="space-between center">
            <div class="md-actions" layout="row" layout-align="start center">
                <md-button class="md-primary md-button" ng-click="editQuiz(quiz)">Edit</md-button>
                <md-button class="md-raised md-warn" ng-click="destroyQuiz(quiz._id)">Delete</md-button>
            </div>
            <md-checkbox ng-model="quiz.checked" ng-click="toggleChecked(quiz)" aria-label="quiz"></md-checkbox>
        </md-card-footer>
    </md-card>
</div>