<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <div>
        <h3>You are authenticated as:</h3>
        <img src="<%= userJSON.image %>"><br>
        <%= userJSON.displayName %><br>
        <%= userJSON.email %>
    </div>

    <script type="text/javascript">
        window.user = <%- userStr || 'null' %>;
        console.log(user);
    </script>
    
</body>

</html>